O.*/
/db/
/bin/
/dbd/
/include/
/lib/
/templates/
/install/
envPaths
cdCommands
dllPath.bat
runIOC.bat
runIOC.sh
relPaths.sh
*.a
*.so*
CMakeCache.txt 
CMakeFiles/
CMakeScripts/ 
cmake_install.cmake 
install_manifest.txt 
MySQLApp/src/mysql-connector-c/**/Makefile
MySQLApp/src/mysql-connector-c++/**/Makefile
MySQLApp/src/mysql-connector-c++/CPackConfig.cmake
MySQLApp/src/mysql-connector-c++/CPackSourceConfig.cmake
MySQLApp/src/mysql-connector-c++/cppconn/config.h
MySQLApp/src/mysql-connector-c++/driver/.MYSQL_ARCHIVES/
MySQLApp/src/mysql-connector-c++/driver/nativeapi/binding_config.h
MySQLApp/src/mysql-connector-c++/driver/version_info.h
MySQLApp/src/mysql-connector-c/CPackConfig.cmake
MySQLApp/src/mysql-connector-c/CPackSourceConfig.cmake
MySQLApp/src/mysql-connector-c/Docs/INFO_BIN
MySQLApp/src/mysql-connector-c/VERSION.dep
MySQLApp/src/mysql-connector-c/include/config.h
MySQLApp/src/mysql-connector-c/include/my_config.h
MySQLApp/src/mysql-connector-c/include/mysql_version.h
MySQLApp/src/mysql-connector-c/include/mysqld_ername.h
MySQLApp/src/mysql-connector-c/include/probes_mysql.d
MySQLApp/src/mysql-connector-c/include/sql_state.h
MySQLApp/src/mysql-connector-c/info_macros.cmake
MySQLApp/src/mysql-connector-c/libmysql/api_test.c
MySQLApp/src/mysql-connector-c/libmysql/libmysql.ver
MySQLApp/src/mysql-connector-c/libmysql/libmysql_exports_file.cc
MySQLApp/src/mysql-connector-c/libmysql/merge_archives_mysqlclient.cmake
MySQLApp/src/mysql-connector-c/probes_mysql.o
MySQLApp/src/mysql-connector-c/scripts/mysql_config
MySQLApp/src/mysql-connector-c/scripts/mysql_config.pl
MySQLApp/src/mysql-connector-c/sql/share/bulgarian/
MySQLApp/src/mysql-connector-c/sql/share/czech/
MySQLApp/src/mysql-connector-c/sql/share/danish/
MySQLApp/src/mysql-connector-c/sql/share/dutch/
MySQLApp/src/mysql-connector-c/sql/share/estonian/
MySQLApp/src/mysql-connector-c/sql/share/french/
MySQLApp/src/mysql-connector-c/sql/share/german/
MySQLApp/src/mysql-connector-c/sql/share/greek/
MySQLApp/src/mysql-connector-c/sql/share/hungarian/
MySQLApp/src/mysql-connector-c/sql/share/italian/
MySQLApp/src/mysql-connector-c/sql/share/japanese/
MySQLApp/src/mysql-connector-c/sql/share/korean/
MySQLApp/src/mysql-connector-c/sql/share/norwegian-ny/
MySQLApp/src/mysql-connector-c/sql/share/norwegian/
MySQLApp/src/mysql-connector-c/sql/share/polish/
MySQLApp/src/mysql-connector-c/sql/share/portuguese/
MySQLApp/src/mysql-connector-c/sql/share/romanian/
MySQLApp/src/mysql-connector-c/sql/share/russian/
MySQLApp/src/mysql-connector-c/sql/share/serbian/
MySQLApp/src/mysql-connector-c/sql/share/slovak/
MySQLApp/src/mysql-connector-c/sql/share/spanish/
MySQLApp/src/mysql-connector-c/sql/share/swedish/
MySQLApp/src/mysql-connector-c/sql/share/ukrainian/
MySQLApp/src/mysql-connector-c/support-files/mysql.6.1.5.spec
MySQLApp/src/mysql-connector-c/support-files/mysql.spec
MySQLApp/src/mysql-connector-c++/examples/connect
MySQLApp/src/mysql-connector-c++/examples/connection_meta_schemaobj
MySQLApp/src/mysql-connector-c++/examples/debug_output
MySQLApp/src/mysql-connector-c++/examples/dynamic_load
MySQLApp/src/mysql-connector-c++/examples/exceptions
MySQLApp/src/mysql-connector-c++/examples/prepared_statement
MySQLApp/src/mysql-connector-c++/examples/resultset
MySQLApp/src/mysql-connector-c++/examples/resultset_binary
MySQLApp/src/mysql-connector-c++/examples/resultset_meta
MySQLApp/src/mysql-connector-c++/examples/resultset_types
MySQLApp/src/mysql-connector-c++/examples/statement
MySQLApp/src/mysql-connector-c/extra/comp_err
MySQLApp/src/mysql-connector-c/extra/my_print_defaults
MySQLApp/src/mysql-connector-c/extra/perror
MySQLApp/src/mysql-connector-c/extra/resolveip
MySQLApp/src/mysql-connector-c/include/mysqld_error.h
MySQLApp/src/mysql-connector-c/include/probes_mysql_dtrace.h
MySQLApp/src/mysql-connector-c/libmysql/libmysql_api_test
MySQLApp/src/mysql-connector-c/libmysql/mysqlclient_depends.c
MySQLApp/src/mysql-connector-c/sql/share/english/
MySQLApp/src/mysql-connector-c/tests/mysql_client_test
.project
