O.*/
/db/
/bin/
/dbd/
/include/
/lib/
/templates/
/install/
envPaths
cdCommands
dllPath.bat
runIoc.bat
*.a
*.so*
CMakeCache.txt 
CMakeFiles/
CMakeScripts/ 
cmake_install.cmake 
install_manifest.txt 
MySQLApp/src/mysql-connector-c-6_1_5/**/Makefile
MySQLApp/src/mysql-connector-c++-1_1_4/**/Makefile
MySQLApp/src/mysql-connector-c++-1_1_4/CPackConfig.cmake
MySQLApp/src/mysql-connector-c++-1_1_4/CPackSourceConfig.cmake
MySQLApp/src/mysql-connector-c++-1_1_4/cppconn/config.h
MySQLApp/src/mysql-connector-c++-1_1_4/driver/.MYSQL_ARCHIVES/
MySQLApp/src/mysql-connector-c++-1_1_4/driver/nativeapi/binding_config.h
MySQLApp/src/mysql-connector-c++-1_1_4/driver/version_info.h
MySQLApp/src/mysql-connector-c-6_1_5/CPackConfig.cmake
MySQLApp/src/mysql-connector-c-6_1_5/CPackSourceConfig.cmake
MySQLApp/src/mysql-connector-c-6_1_5/Docs/INFO_BIN
MySQLApp/src/mysql-connector-c-6_1_5/VERSION.dep
MySQLApp/src/mysql-connector-c-6_1_5/include/config.h
MySQLApp/src/mysql-connector-c-6_1_5/include/my_config.h
MySQLApp/src/mysql-connector-c-6_1_5/include/mysql_version.h
MySQLApp/src/mysql-connector-c-6_1_5/include/mysqld_ername.h
MySQLApp/src/mysql-connector-c-6_1_5/include/probes_mysql.d
MySQLApp/src/mysql-connector-c-6_1_5/include/sql_state.h
MySQLApp/src/mysql-connector-c-6_1_5/info_macros.cmake
MySQLApp/src/mysql-connector-c-6_1_5/libmysql/api_test.c
MySQLApp/src/mysql-connector-c-6_1_5/libmysql/libmysql.ver
MySQLApp/src/mysql-connector-c-6_1_5/libmysql/libmysql_exports_file.cc
MySQLApp/src/mysql-connector-c-6_1_5/libmysql/merge_archives_mysqlclient.cmake
MySQLApp/src/mysql-connector-c-6_1_5/probes_mysql.o
MySQLApp/src/mysql-connector-c-6_1_5/scripts/mysql_config
MySQLApp/src/mysql-connector-c-6_1_5/scripts/mysql_config.pl
MySQLApp/src/mysql-connector-c-6_1_5/sql/share/bulgarian/
MySQLApp/src/mysql-connector-c-6_1_5/sql/share/czech/
MySQLApp/src/mysql-connector-c-6_1_5/sql/share/danish/
MySQLApp/src/mysql-connector-c-6_1_5/sql/share/dutch/
MySQLApp/src/mysql-connector-c-6_1_5/sql/share/estonian/
MySQLApp/src/mysql-connector-c-6_1_5/sql/share/french/
MySQLApp/src/mysql-connector-c-6_1_5/sql/share/german/
MySQLApp/src/mysql-connector-c-6_1_5/sql/share/greek/
MySQLApp/src/mysql-connector-c-6_1_5/sql/share/hungarian/
MySQLApp/src/mysql-connector-c-6_1_5/sql/share/italian/
MySQLApp/src/mysql-connector-c-6_1_5/sql/share/japanese/
MySQLApp/src/mysql-connector-c-6_1_5/sql/share/korean/
MySQLApp/src/mysql-connector-c-6_1_5/sql/share/norwegian-ny/
MySQLApp/src/mysql-connector-c-6_1_5/sql/share/norwegian/
MySQLApp/src/mysql-connector-c-6_1_5/sql/share/polish/
MySQLApp/src/mysql-connector-c-6_1_5/sql/share/portuguese/
MySQLApp/src/mysql-connector-c-6_1_5/sql/share/romanian/
MySQLApp/src/mysql-connector-c-6_1_5/sql/share/russian/
MySQLApp/src/mysql-connector-c-6_1_5/sql/share/serbian/
MySQLApp/src/mysql-connector-c-6_1_5/sql/share/slovak/
MySQLApp/src/mysql-connector-c-6_1_5/sql/share/spanish/
MySQLApp/src/mysql-connector-c-6_1_5/sql/share/swedish/
MySQLApp/src/mysql-connector-c-6_1_5/sql/share/ukrainian/
MySQLApp/src/mysql-connector-c-6_1_5/support-files/mysql.6.1.5.spec
MySQLApp/src/mysql-connector-c-6_1_5/support-files/mysql.spec
MySQLApp/src/mysql-connector-c++-1_1_4/examples/connect
MySQLApp/src/mysql-connector-c++-1_1_4/examples/connection_meta_schemaobj
MySQLApp/src/mysql-connector-c++-1_1_4/examples/debug_output
MySQLApp/src/mysql-connector-c++-1_1_4/examples/dynamic_load
MySQLApp/src/mysql-connector-c++-1_1_4/examples/exceptions
MySQLApp/src/mysql-connector-c++-1_1_4/examples/prepared_statement
MySQLApp/src/mysql-connector-c++-1_1_4/examples/resultset
MySQLApp/src/mysql-connector-c++-1_1_4/examples/resultset_binary
MySQLApp/src/mysql-connector-c++-1_1_4/examples/resultset_meta
MySQLApp/src/mysql-connector-c++-1_1_4/examples/resultset_types
MySQLApp/src/mysql-connector-c++-1_1_4/examples/statement
MySQLApp/src/mysql-connector-c-6_1_5/extra/comp_err
MySQLApp/src/mysql-connector-c-6_1_5/extra/my_print_defaults
MySQLApp/src/mysql-connector-c-6_1_5/extra/perror
MySQLApp/src/mysql-connector-c-6_1_5/extra/resolveip
MySQLApp/src/mysql-connector-c-6_1_5/include/mysqld_error.h
MySQLApp/src/mysql-connector-c-6_1_5/include/probes_mysql_dtrace.h
MySQLApp/src/mysql-connector-c-6_1_5/libmysql/libmysql_api_test
MySQLApp/src/mysql-connector-c-6_1_5/libmysql/mysqlclient_depends.c
MySQLApp/src/mysql-connector-c-6_1_5/sql/share/english/
MySQLApp/src/mysql-connector-c-6_1_5/tests/mysql_client_test

