O.*/
/db
/bin
/dbd
/include
/lib
/templates
envPaths
cdCommands
dllPath.bat
runIoc.bat
*.a
*.so*
CMakeCache.txt 
CMakeFiles/
CMakeScripts/ 
cmake_install.cmake 
install_manifest.txt 
MySQLApp/src/mysql-connector-c-6_1_5/**/Makefile
MySQLApp/src/mysql-connector-c++-1_1_4/**/Makefile
